h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue; 
    border:3px dashed red;
    text-align:center;
}
/*div{
    width:400px;
    height:400px;

    background-color:red;
   
}*/
.table {
    border: 3px dashed red;
    animation: blinker 0.6s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/*use for sreensize to change design*/
/*@media (min_)*/

/*#grid {
    display:grid;
    grid-column:auto;
    grid-row:10px;
    
}*/

/*flexbox and grid used to make everything wrap around if screen smaller*/
/*#container {
    display:flex;
    flex-wrap: wrap;
}*/